# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
static/
local_settings.py

# If you're using Celery
celerybeat-schedule
celerybeat.pid

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store 